<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="Listing[title]" value="<%= listing.title %>" type="text" class="form-control" required >
            <div class="valid-feedback">title looks good!</div>
        </div>
        
         <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name ="Listing[description]" class="form-control" required ><%=listing.description%></textarea>
             <div class="invalid-feedback">please write a description
             </div>
            </div>

         <div class="mb-3">
            <label for="image" class="form-label">Image Url</label>
            <input name="Listing[image]" value="<%= listing.image %>" class="form-control"></div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="Listing[price]" value="<%= listing.price %>" type="number" class="form-control" required><div class="invalid-feedback">please enter correct price</div>
                </div>

                 <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="Listing[country]" value="<%= listing.country %>" class="form-control" required>
                    <div class="invalid-feedback">please provide a valid country</div>
                </div>
                 <div class="mb-3">
            </div>
       
            <label for="location" class="form-label">Location</label> 
            <input name="Listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">please provide a valid location</div></div>

         <button class="btn btn-dark edit-btn mt-3">Edit</button>
         <br><br>
    </form>
</div>
</div>
